@import "tailwindcss";

@theme {
  --color-foreground: #000000;
  --color-background: #ffffff;
  --color-primary: #8a60c2;

  --color-kawaii-anime: #ff3366;
  --color-kawaii-manga: #ff3b30;
  --color-kawaii-bot: #24a1de;
  --color-kawaii-wiki: #f59e0b;
  --color-kawaii-api: #10b981;
  --color-kawaii-service: #6366f1;

  --font-sans: 'Plus Jakarta Sans', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

/* Скрываем дефолтные скроллбары по всему приложению */
* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
*::-webkit-scrollbar {
  display: none !important;
}

.clip-hero-left {
  clip-path: polygon(0% 0%, 100% 0%, 40% 100%, 0% 100%);
}

.clip-hero-right {
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 0% 100%);
}